{% extends 'base.html' %}

{% block title %}Activity Details{% endblock %}

{% block content %}
    <div class="activity-detail">
        <h2>{{ activity.activity_name }}</h2>
        <p class="description"><strong>Description:</strong> {{ activity.description }}</p>
        <p class="date-time"><strong>Date and Time:</strong> {{ activity.date_time.strftime('%Y-%m-%d %H:%M') }}</p>
        <p class="organizer"><strong>Organizer:</strong> {{ activity.organizer.username }}</p>

        {% if activity.organizer_id == current_user.id %}  <!-- Show update and delete buttons only to the organizer -->
        <div class="action-buttons">
            <a href="{{ url_for('main.update_activity', activity_id=activity.id) }}" class="button">Update Activity</a>
            <form method="POST" action="{{ url_for('main.delete_activity', activity_id=activity.id) }}" style="display:inline;">
                <button type="submit" class="button delete">Delete Activity</button>
            </form>
        </div>
        {% endif %}

        <a href="{{ url_for('main.activities') }}" class="link back-link">Back to Activities</a>
    </div>
{% endblock %}
