{% extends 'base.html' %}

{% block title %}Activity Details{% endblock %}

{% block content %}
    <h2>{{ activity.activity_name }}</h2>
    <p><strong>Description:</strong> {{ activity.description }}</p>
    <p><strong>Date and Time:</strong> {{ activity.date_time.strftime('%Y-%m-%d %H:%M') }}</p>
    <p><strong>Organizer:</strong> {{ activity.organizer.username }}</p>
    <form method="POST" action="{{ url_for('main.join_activity', activity_id=activity.id) }}">
        <button type="submit">Join Activity</button>
    </form>

    {% if activity.organizer_id == current_user.id %}  <!-- Check if the current user is the organizer -->
        <form method="POST" action="{{ url_for('main.delete_activity', activity_id=activity.id) }}">
            <button type="submit">Delete Activity</button>
        </form>
        <a href="{{ url_for('main.update_activity', activity_id=activity.id) }}">Update Activity</a>
    {% endif %}

    <a href="{{ url_for('main.activities') }}">Back to All Activities</a>
{% endblock %}
