{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Upcoming Activities</h2>
    <ul>
        {% for activity in activities %}
        <li>
            <a href="{{ url_for('main.activity_detail', activity_id=activity.id) }}">
                <strong>{{ activity.activity_name }}</strong> - {{ activity.date_time.strftime('%Y-%m-%d %H:%M') }}
            </a>
        </li>
        {% else %}
            <li>No upcoming activities.</li>
        {% endfor %}
    </ul>
{% endblock %}




